{% extends "base.html" %} {% block title %}Blog{% endblock %} {% block content
%}
<h1 class="mb-3 mt-3">{{ user.username }}'s Posts</h1>
{% for post in posts %}
<article class="media content-section">
  <img
    fetchpriority="high"
    class="rounded-circle article-img"
    src="{{ url_for('static', filename='pfp/' + post.author.image_file) }}"
    alt="Profile Picture"
  />
  <div class="media-body">
    <div class="article-metadata">
      <a
        class="mr-2"
        href="{{ url_for('views.user_post', username = post.author.username) }}"
        >{{ post.author.username }}</a
      >
      <small class="text-muted"
        >{{ post.date_posted.strftime('%Y-%m-%d') }}</small
      >
    </div>
    <h2>
      <a
        class="article-title"
        href="{{ url_for('views.post', post_id=post.id) }}"
        >{{ post.title }}</a
      >
    </h2>
    <p class="article-content">{{ post.content }}</p>
  </div>
</article>
<head>
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='blog.css') }}"
  />
</head>
{% endfor %} {% endblock %}
