{% extends "base.html" %} {% block title %}Add Note{% endblock %} {% block
content%}
<div class="div-container">
  <h1 align="center">Notes</h1>
  <form method="POST">
    <textarea
      placeholder="Type your note here"
      name="note"
      id="note"
      class="form-control"
      style="height: 200px; width: 100%"
    ></textarea>
    <br />
    <div align="center">
      <button type="submit" class="btn btn-info">Add Note</button>
    </div>
    <br />
  </form>
  <div align="center">
    <a href="{{ url_for('views.home') }}"
      ><button class="btn btn-secondary">Cancel</button></a
    >
  </div>
</div>
<head>
  <link rel="stylesheet" type="text/css" href="\static\main.css" />
</head>

{% endblock %}
