{% extends "base.html" %} {% block title %}Edit Note{% endblock %} {% block
content%}
<h1 align="center">Edit Note</h1>
<h4 align="center">Created on {{ note_update.date }}</h4>

<form action="/edit/{{ note_update.id }}" method="POST">
  <textarea
    name="note"
    id="note"
    class="form-control"
    style="height: 200px; width: 100%"
  >
{{ note_update.data }}</textarea
  >
  <br />
  <div align="center">
    <a href="{{ url_for('views.home') }}"
      ><button type="submit" class="btn btn-info">Save Note</button></a
    >
  </div>
  <br />
</form>
<div align="center">
  <a href="{{ url_for('views.home') }}"
    ><button class="btn btn-secondary">Cancel</button></a
  >
</div>
<head>
  <link rel="stylesheet" type="text/css" href="\static\main.css" />
</head>

{% endblock %}
