{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Your Current Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span arai-hidden="true">&times;</span>
    </button>
   <button type="button" class="close" style="margin-right: 10px;text-decoration: none;font-size: 20px;margin-top: 4px;">EDIT</button>
  </li>
  {% endfor %}
</ul>
<br>
<div align="center"">
  <a class="btn btn-primary" href="/add_note">Create New Note</a>
</div>

{% endblock %}
